@model Usuario


<style>
     body{
    background: linear-gradient(90deg, rgba(36, 35, 0, 0.837) 0%, rgba(191,142,33,1) 35%,  rgb(106, 76, 11) 100%);
   }
</style>
<body>
<div class="row justify-content-md-center bg-dark border border-light rounded">
    <form asp-action="Cadastro" method="POST" class="col-md-4">

        <input type="hidden" asp-for="Id" required/>

         <div class="form-group">
            <label asp-for="Nome" class="text-light">Nome</label>
            <input asp-for="Nome" class="form-control" placeholder="Ex: Matheus Nascimento" required/>
        </div>

        <div class="form-group">
            <label asp-for="Login" class="text-light">Login</label>
            <input asp-for="Login" class="form-control" placeholder="Ex: Matheus12" required/>
        </div>
        <div class="form-group">
            <label asp-for="Senha" class="text-light">Senha</label>
            <input asp-for="Senha" class="form-control" placeholder="jjfv547hg" required/>
        </div>

         <div class="form-group">
            <select name="tipo" id="userTipo">
              <option value="@Usuario.ADMIN" class="text-light">Administrador</option>
              <option value="@Usuario.PADRAO" class="text-light" >Padrão</option>  
            </select>
        </div>
       
        <input type="submit" value="Salvar" class="btn btn-outline-warning"/>
    </form>
</div>
</body>