@model List<Usuario>
@{
    ViewData["Title"] = "Listagem de Usuários";
}
<div class="row">
    <div class="col-md-12">
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <select name="TipoFiltro" class="form-control">
                <option value="Login">Login</option>
                <option value="Senha">Senha</option>
            </select>
        </div>
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped"> 
            @if (Model.Count >0)
            {
            <thead>
                <tr><th>Id</th>
                <th>Usuário</th>
                <th>Senha</th>
                <th>Tipo</th>
                
                <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(Usuario u in Model)
                {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Login</td>
                    <td>@u.Senha</td>
                    @if(u.tipo==Usuario.ADMIN)
                    {
                       <td>Administrador</td> 
                    }
                    else 
                    {
                        <td>Padrão</td>
                    }


                    <td><a href="/Usuario/Edicao/@u.Id">Editar</a></td>
                </tr>
                }
            </tbody>
            } 
            
            else 
            {
                <p> Nenhum registro encontrado</p>
            }
        </table>
    </div>
</div>